@import '/scss/style.scss';

.products-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 48px 0 32px;
}

.products-type {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    font-family: $inter;

    &__heading {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 28px;
        cursor: pointer;

        img {
            rotate: -90deg;
        }
    }

    &__grid-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8px;
        row-gap: 12px;
        width: 100%;

        @media (min-width: $sm) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: $md) {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 12px;
            row-gap: 16px;
        }

        @media (min-width: $lg) {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &__show-more {
        width: 100%;
        text-align: center;
        background-color: rgba($color: gray, $alpha: .15);
        height: 56px;
        line-height: 56px;
        white-space: nowrap;
        font-weight: 600;
        border-radius: 10px;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background-color: rgba($color: gray, $alpha: .25);
        }

        @media (min-width: $lg) {
            width: 740px;
            align-self: center;
        }
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 2px 2px rgba($color: gray, $alpha: .3);

        .product-card__image {
            scale: 1.05;
        }
    }

    &__image-block {
        width: 100%;
        aspect-ratio: 2/3;
        background-color: rgba($color: gray, $alpha: .15);
        border-radius: 8px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 85%;
        height: 85%;
        transition: .2s ease-in-out;
    }

    &__fav-icons {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__fav {
        cursor: pointer;
        width: 20px;

        &_active {
            display: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        font-size: 14px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;

        span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 5px;

        span {
            font-size: .85em;
            color: gray;
        }

        img {
            width: 16px;
        }
    }

    &__credit {
        padding: 2px 5px;
        background-color: #FFFF00;
        border-radius: 5px;
        font-size: .85em;

    }

    &__floor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__price-block {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        font-size: 0.85em;
    }

    &__real-price {
        font-size: 0.9em;
        text-decoration: line-through;
        color: gray;
    }

    &__add-to-cart {
        width: 31px;
        height: 31px;
        cursor: pointer;
    }
}